/* ==========================================================================
   Tim Sundell HTML with CSS. This will be the base CSS file once sass has
   been applied.
   ========================================================================== */

   :root {
    --blue:  #3d74a8;
    --white: #f7f7f7;
    --gray:  #3d3f42;
    --lightgray: #dfdede88;
    --black: #181616;
    }
   
html {
    box-sizing: border-box; /*ta bort?*/
    }
    *,
    *::before,
    *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* scroll-margin-top: calc(10vh + 200px); So anchor links align correct while menu is open */
}
   
body {
    background-color: var(--white);
    line-height: 1.6rem;
    font-weight: 500;
    font-family:"EB Garamond", sans-serif, "Helvetica Neue", sans-serif;
    font-size: 1rem;
   
}

.page-container {
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 0.8fr;
    gap: 0px 0px;
    grid-template-areas:
      "header header header header"
      "aside-start introduction introduction aside-end"
      "aside-start occupation occupation aside-end"
      "footer footer footer footer";
    background-color: var(--white);
    background-image: url(/img/hexagon.jpg);
    background-size: cover;

}

article {
    padding: 1rem;
}

article p{
    padding: 1rem;
}

article ul{
    list-style: none;
}
h2::first-letter {
    color: var(--blue);
    font-size: 2rem;
}

.hidden-content {
    display: none; /*To make outline look good*/
}




/* ==========================================================================
   Header
   ========================================================================== */
.main-menu {
    min-height: calc(10vh + 200px);
    width: 0;
    position: fixed;
    z-index: 1;
    background: rgb(61,63,66);
    background: radial-gradient(circle, rgba(61,63,66,1) 0%, rgba(24,22,22,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -112px 30px,
    rgba(0, 0, 0, 0.12) 0px 14px 6px,
    rgba(0, 0, 0, 0.17) 0px 112px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
    top: 0;
    right: 0;
    overflow-x: hidden;
    transition: 0.3s;  /*Time it takes menu to open/close*/
    padding-top: 60px;
}

.main-menu a {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    text-decoration: none;
    font-size: 1.7rem;
    color: var(--white);
    display: block;
    transition: 0.3s;
}

.main-menu a:hover {
    color: var(--white);
}

.main-menu .closebtn {
    position: absolute;
    top: 1rem;
    right: 25px;
    font-size: 3rem;
    margin-left: 50px;
}

button {
    font-size:50px;
    cursor:pointer;
    position: fixed;
    top: 1rem;
    right: 25px;
    font-size: 3rem;
    margin-left: 50px;
    background-color: var(--lightgray);
    box-shadow: rgb(10, 10, 10) 3px 3px 6px 0px inset,
     rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
   
}

button:hover {
    background-color: var(--white);
    box-shadow: rgb(10, 10, 10) 3px 3px 6px 0px inset,
     rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
   
}

.name-header {
    font-family: "Dancing Script", cursive;
    color: var(--white);
    font-size: clamp(3rem, 10vw, 6rem);
    position: absolute;
    left: 0;
    right: 0;
    top: 3rem;
    margin: 0 auto;
}

.header {
    grid-area: header;
    top: 0;
    width: 100%;
}

.logo-container {
    width: 100%;
    min-height: calc(10vh + 200px);
    text-align: center;
    position: relative;
    top: 0;
    background: rgb(61,63,66);
    background: radial-gradient(circle, rgba(61,63,66,1) 0%, rgba(24,22,22,1) 100%);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px,
    rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px,
    rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.portrait-container img {
    height: calc(125px + 6vw);
    width: calc(125px + 6vw);
    border: calc(2px + 0.2vw) solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-size: cover;
    box-sizing: border-box;
    position: absolute;
    max-width: 300px;
    max-height: 300px;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 10rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    border-radius: 40%;
    background-image: url(/img/portrait.png), linear-gradient(#cad6ce, #120a2e); /*might remove since img is already in HTML*/
}

.signature-img {
    position: absolute;
    left: 0;
    right: 0;
    top: 2rem;
    margin: 0 auto;
}

.front-end-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 8rem;
    color: #f7f7f7;
}

.front-end-text span{
color: var(--blue);
}
.front-end-text::before{
    content: "<";
}
.front-end-text::after{
    content: "/>";
}

/* ==========================================================================
   Introduction
   ========================================================================== */
.introduction {
    grid-area: introduction;
    padding: 2rem;
    padding-block-start: 8rem;
    max-width: calc(100% - 200px); /*Full size - image size of 200px*/
}
/* ==========================================================================
   Aside inline start (left column)
   ========================================================================== */
.aside-start {
    grid-area: aside-start;
    background-color: var(--lightgray);
    color: var(--black);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.personal-info, .skills-inprogress, .education, .languages {
    padding: 2rem;
    border-bottom: 2px solid var(--black);
}

.tel-info::before{
    content: '\f095'; /*Content code for phone*/
    font: var(--fa-font-solid);
    margin-inline-end: 1rem;
}
.mail-info::before{
    content: '\f003'; /*Content code for letter*/
    font: var(--fa-font-solid);
    margin-inline-end: 1rem;
}

.location-info::before{
    content: '\f015'; /*Content code for house*/
    font: var(--fa-font-solid);
    margin-inline-end: 1rem;
}

.aside-start h3 {
    text-align: center;
    top:0;
}


/* ==========================================================================
   Occupation (might rename to experience)
   ========================================================================== */
.occupation {
    grid-area: occupation;
}

.occupation img {
    width: 200px;
    height: 100px;
}

.flex-container {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.bold-paragraph {
    font-weight: bold;
    font-size: 1.5rem;
}

.bold-paragraph::before {
    content: "\f054";/*Content code for phone*/
    font: var(--fa-font-solid);
}
/* ==========================================================================
   Aside inline end (right column)
   ========================================================================== */
.aside-end {
    grid-area: aside-end;
   
}

.aside-end h3, .aside-end th {
    text-align: center;
}

tr:nth-child(even) {
    background-color: #918f8f;
}

table {
    border: 5px solid;
    padding: 0.5rem;
    border-radius: 2rem;
    background-color: var(--white);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.fa-handshake {
    margin-left: 0.5rem;
}

/* ==========================================================================
   Footer
   ========================================================================== */
.footer {
    grid-area: footer;
    height: 5rem;
}


.contact-me {
    text-align: center;
    background-color: var(--white);
    width: 100%;
    height: 5rem;
    padding: 10px;
    bottom: 0;
    border-top: 1px solid var(--black);
}

.social-media {
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
   font-size: 2rem;
}

a:link, a:visited, a:active {
    color: var(--blue);
}

@media only screen and (max-width: 600px) {
   
    .page-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "header "
          "introduction"
          "occupation"
          "footer  ";
        background-color: var(--white);
        background-image: url(/img/hexagon.jpg);
        background-size: cover;
    }
    .aside-start, .aside-end {
       display: none;
    }
    .flex-container {
       flex-direction: column;
    }

    .introduction {
        padding: 2rem;
        padding-block-start: 8rem;
        max-width: 100%;
    }
  }