/* ==========================================================================
   Tim Sundell CV with CSS. An attempt to emulate the look of a CV as a
   webpage. 
========================================================================== */
$blue:#3d74a8;
$white:#f7f7f7;
$gray:#3d3f42;
$lightgray:#dfdede88;
$black: #181616;
/*boilerplates*/
@import "vendors/normalize"; 
@import "vendors/boilerplate-main";
/*original*/
@import "sections/header"; 
@import "sections/aside-inline-start";
@import "sections/introduction";
@import "sections/occupation";
@import "sections/aside-inline-end";
@import "sections/footer";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* Migth remove --> scroll-margin-top: calc(10vh + 200px); So anchor links align correct while menu is open */
}

body {
    background-color: $white;
    line-height: 1.6rem;
    font-family: "EB Garamond", serif, "Times New Roman", sans-serif;
    
    font-size: 1.1rem;
}

.page-container {
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 0.8fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header header header"
        "aside-start introduction introduction aside-end"
        "aside-start occupation occupation aside-end"
        "footer footer footer footer";
    background-color: $white;
    background-image: url("../img/hexagon.webp");
    background-size: cover;
    background-repeat: repeat;

}

article {
    padding: 1rem;

    p {
        padding: 1rem;
    }

    ul {
        list-style: none;
    }   
}

h2::first-letter {
    color: $blue;
    font-size: 2rem;
}

.hidden-content {
    visibility: hidden;/*Not to be shown, only to make outliner look good*/
    font-size: 0; /*We want the semantic value but without taking space*/
}

.skip-to-content-link {
    background: $white;
    height: 2rem;
    padding: 8px;
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.3s;
    z-index: 0;

    &:focus {
        transform: translateY(0%);
        z-index: 10;
    }
}        

/* ==========================================================================
   media queries - Come back later
========================================================================== */

/*mobile*/
@media only screen and (max-width: 768px) {

    .page-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px 0px;
        grid-template-areas:
        "header"
        "aside-start" 
        "introduction"
        "aside-end"
        "occupation "
        "footer";
    }

    .aside-start {
        display: none;
    }

    .aside-end{
        text-align: center;
        margin: auto;
    }

    .flex-container {
        flex-direction: column;
    }   

    .introduction {
        padding: 2rem;
        max-width: 95%;
        min-width: 300px;
    }

    .resume-mobile {
        display: block;
    }

    .resume-desktop {
        display: none;
    }
}

/*Tablet*/
@media only screen and (min-width: 768px) and (max-width: 1123px)  {

    .page-container {
        display: grid;
        grid-template-columns: 0.4fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
            "header header "
            "aside-start introduction"
            "aside-start aside-end"
            "aside-start occupation"
            "footer footer ";
    }
    
    .aside-end{
        text-align: center;
        margin: auto;
    }

    .flex-container {
        flex-direction: column;
    }
}

/*Accessibility*/
@media (prefers-reduced-motion: reduce) {
 * {
   animation: none;
   transition: none;
   transform: none;
 }
}
/*To make page really look like a true CV if you print it out*/
@media print { 
    #openbtn, .main-menu, .footer { 
    display: none !important; 
    } 

    .flex-container {
        flex-direction: column;
        width: 75vh;
    }
}
/*uncomment to use
*/
//  @media (prefers-color-scheme: dark) { 
//     html {
//         color: white;
//    }

//     .page-container {
//         background-image: none;
//         background: rgb(0, 0, 0);
//   }
//     tr:nth-child(even) {
//         background-color: $gray;
// }

//     table {
//         border: 5px solid;
//         padding: 0.5rem;
//         min-width: 300px;
//         border-radius: 2rem;
//         background-color: $black;
//         box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
//             rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
//             rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
//     }
// }