/* ==========================================================================
   Tim Sundell HTML with CSS. 
========================================================================== */
$blue:#3d74a8;
$white:#f7f7f7;
$gray:#3d3f42;
$lightgray:#dfdede88;
$black: #181616;

@import "vendors/normalize"; /*might change @import to @forward later on*/
@import "vendors/boilerplate-main";

@import "sections/header"; 
@import "sections/aside-inline-start";
@import "sections/introduction";
@import "sections/occupation";
@import "sections/aside-inline-end";
@import "sections/footer";

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* Migth remove --> scroll-margin-top: calc(10vh + 200px); So anchor links align correct while menu is open */
}

body {
    background-color: $white;
    line-height: 1.6rem;
    font-weight: 500;
    font-family: "EB Garamond", sans-serif, "Helvetica Neue", sans-serif;
    font-size: 1.1rem;
}

.page-container {
    display: grid;
    grid-template-columns: 0.8fr 1fr 1fr 0.8fr;
    gap: 0px 0px;
    grid-template-areas:
        "header header header header"
        "aside-start introduction introduction aside-end"
        "aside-start occupation occupation aside-end"
        "footer footer footer footer";
    background-color: $white;
    background-image: url(/img/hexagon.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment:fixed

}

article {
    padding: 1rem;

    p {
        padding: 1rem;
    }

    ul {
        list-style: none;
    }   
}

h2::first-letter {
    color: $blue;
    font-size: 2rem;
}

.hidden-content {
    visibility: hidden;/*Not to be shown, only to make outliner look good*/
    font-size: 0; /*We want the semantic value but without taking space*/
}

.skip-to-content-link {
    background: $white;
    height: 2rem;
    padding: 8px;
    position: absolute;
    transform: translateY(-200%);
    transition: transform 0.3s;
    z-index: 0;

    &:focus {
        transform: translateY(0%);
        z-index: 10;
    }
}        

/* ==========================================================================
   media queries - Come back later
========================================================================== */

@media only screen and (max-width: 768px) {

    .page-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0px 0px;
        grid-template-areas:
        "header"
        "aside-start" 
        "introduction"
        "aside-end"
        "occupation "
        "footer";
    }

    .aside-start {
        display: none;
    }

    .aside-end{
        text-align: center;
        margin: auto;
    }

    .flex-container {
        flex-direction: column;
    }   

    .introduction {
        padding: 2rem;
        padding-block-start: 8rem;
        max-width: 95%;
        min-width: 300px;
    }

    .resume-mobile {
        display: block;
    }

    .resume-desktop {
        display: none;
    }
}

@media only screen and (max-width: 1000px) {

    .page-container {
        display: grid;
        gap: 0px 0px;
        grid-template-areas:
            "header header"
            "aside-start introduction"
            "aside-start occupation"
            "footer footer footer";
    
    }
    
    .flex-container {
        flex-direction: column;
    }
}

/*Accessibility*/
@media (prefers-reduced-motion: reduce) {
 * {
   animation: none;
   transition: none;
   transform: none;
 }
}

/*No real effect in this project unless you disable CSS, uncomment to use*/
// @media (prefers-color-scheme: dark) { 
//   html {
//     background: rgb(0, 0, 0);
//     color: white;
//   }

//   .to-the-moon-box {
//     color: #999;
//   }
// }