/* ==========================================================================
   Introduction
========================================================================== */
.introduction {
    grid-area: introduction;
    padding: 2rem;
    padding-block-start: 8rem;
    max-width: calc(100% - 100px);
    min-width: 500px;
}

.resume-mobile {
    display: none;
}

.about-me {
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.resume {
    background-color: $white;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}